<section id="contact" class="relative py-20 md:py-[120px] dark:bg-dark">
  <div class="absolute left-0 top-0 -z-[1] w-full bg-primary dark:bg-dark-700"></div><div
    class="container px-4"
  >
    
  <div class="flex flex-wrap -mx-4">
    <div class="w-full px-4">
      <div class="mx-auto mb-[60px] max-w-[520px] text-center">
        <h2 class="text-dark dark:text-white mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]">
          Kontak Kami
        </h2>
        <p class="mx-auto max-w-[485px] text-base text-body-color dark:text-dark-6">
          Dengan company profile ini, Jakarta Design Consultant siap menjadi mitra terpercaya dalam semua kebutuhan desain kapal Anda, memastikan setiap proyek sesuai dengan standar internasional dan persyaratan lainnya.
        </p>
      </div>
    </div>
  </div>

    <div class="mb-12 flex flex-wrap justify-between lg:mb-0">
      <div class="mb-8 flex w-[330px] max-w-full">
        <div class="mr-6 text-[32px] text-primary dark:text-white">
          <svg width="29" height="35" viewBox="0 0 29 35" class="fill-current"
            ><path
              d="M14.5 0.710938C6.89844 0.710938 0.664062 6.72656 0.664062 14.0547C0.664062 19.9062 9.03125 29.5859 12.6406 33.5234C13.1328 34.0703 13.7891 34.3437 14.5 34.3437C15.2109 34.3437 15.8672 34.0703 16.3594 33.5234C19.9688 29.6406 28.3359 19.9062 28.3359 14.0547C28.3359 6.67188 22.1016 0.710938 14.5 0.710938ZM14.9375 32.2109C14.6641 32.4844 14.2812 32.4844 14.0625 32.2109C11.3828 29.3125 2.57812 19.3594 2.57812 14.0547C2.57812 7.71094 7.9375 2.625 14.5 2.625C21.0625 2.625 26.4219 7.76562 26.4219 14.0547C26.4219 19.3594 17.6172 29.2578 14.9375 32.2109Z"
            ></path><path
              d="M14.5 8.58594C11.2734 8.58594 8.59375 11.2109 8.59375 14.4922C8.59375 17.7188 11.2187 20.3984 14.5 20.3984C17.7812 20.3984 20.4062 17.7734 20.4062 14.4922C20.4062 11.2109 17.7266 8.58594 14.5 8.58594ZM14.5 18.4297C12.3125 18.4297 10.5078 16.625 10.5078 14.4375C10.5078 12.25 12.3125 10.4453 14.5 10.4453C16.6875 10.4453 18.4922 12.25 18.4922 14.4375C18.4922 16.625 16.6875 18.4297 14.5 18.4297Z"
            ></path></svg>
        </div><div>
          <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">Lokasi Kami</h5><p
            class="text-base text-body-color dark:text-dark-6"
          >
            Kirana Two Tower, Level 10-A, Jakarta Utara, DKI Jakarta
          </p>
        </div>
      </div><div class="mb-8 flex w-[330px] max-w-full">
        <div class="mr-6 text-[32px] text-primary dark:text-white">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_941_17577)">
               <path d="M24.3 31.1499C22.95 31.1499 21.4 30.7999 19.7 30.1499C16.3 28.7999 12.55 26.1999 9.19997 22.8499C5.84997 19.4999 3.24997 15.7499 1.89997 12.2999C0.39997 8.59994 0.54997 5.54994 2.29997 3.84994C2.34997 3.79994 2.44997 3.74994 2.49997 3.69994L6.69997 1.19994C7.74997 0.599942 9.09997 0.899942 9.79997 1.89994L12.75 6.29994C13.45 7.34994 13.15 8.74994 12.15 9.44994L10.35 10.6999C11.65 12.7999 15.35 17.9499 21.25 21.6499L22.35 20.0499C23.2 18.8499 24.55 18.4999 25.65 19.2499L30.05 22.1999C31.05 22.8999 31.35 24.2499 30.75 25.2999L28.25 29.4999C28.2 29.5999 28.15 29.6499 28.1 29.6999C27.2 30.6499 25.9 31.1499 24.3 31.1499ZM3.79997 5.54994C2.84997 6.59994 2.89997 8.74994 3.99997 11.4999C5.24997 14.6499 7.64997 18.0999 10.8 21.2499C13.9 24.3499 17.4 26.7499 20.5 27.9999C23.2 29.0999 25.35 29.1499 26.45 28.1999L28.85 24.0999C28.85 24.0499 28.85 24.0499 28.85 23.9999L24.45 21.0499C24.45 21.0499 24.35 21.0999 24.25 21.2499L23.15 22.8499C22.45 23.8499 21.1 24.1499 20.1 23.4999C13.8 19.5999 9.89997 14.1499 8.49997 11.9499C7.84997 10.8999 8.09997 9.54994 9.09997 8.84994L10.9 7.59994V7.54994L7.94997 3.14994C7.94997 3.09994 7.89997 3.09994 7.84997 3.14994L3.79997 5.54994Z" fill="currentColor"></path>
               <path d="M29.3 14.25C28.7 14.25 28.25 13.8 28.2 13.2C27.8 8.15003 23.65 4.10003 18.55 3.75003C17.95 3.70003 17.45 3.20003 17.5 2.55003C17.55 1.95003 18.05 1.45003 18.7 1.50003C24.9 1.90003 29.95 6.80003 30.45 13C30.5 13.6 30.05 14.15 29.4 14.2C29.4 14.25 29.35 14.25 29.3 14.25Z" fill="currentColor"></path>
               <path d="M24.35 14.7002C23.8 14.7002 23.3 14.3002 23.25 13.7002C22.95 11.0002 20.85 8.90018 18.15 8.55018C17.55 8.50018 17.1 7.90018 17.15 7.30018C17.2 6.70018 17.8 6.25018 18.4 6.30018C22.15 6.75018 25.05 9.65018 25.5 13.4002C25.55 14.0002 25.15 14.5502 24.5 14.6502C24.4 14.7002 24.35 14.7002 24.35 14.7002Z" fill="currentColor"></path>
            </g>
            <defs>
               <clipPath id="clip0_941_17577">
                  <rect width="32" height="32" fill="white"></rect>
               </clipPath>
            </defs>
         </svg>
        </div><div>
          <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">Hubungi Kami</h5><p
            class="text-base text-body-color dark:text-dark-6"
          >
            0812 7777 1751 (WA/Call)
          </p><p class="mt-1 text-base text-body-color dark:text-dark-6">
            0852 5707 6430 (WA/Call)
          </p>
        </div>
      </div><div class="mb-8 flex w-[330px] max-w-full">
        <div class="mr-6 text-[32px] text-primary dark:text-white">
          <svg width="34" height="25" viewBox="0 0 34 25" class="fill-current"
            ><path
              d="M30.5156 0.960938H3.17188C1.42188 0.960938 0 2.38281 0 4.13281V20.9219C0 22.6719 1.42188 24.0938 3.17188 24.0938H30.5156C32.2656 24.0938 33.6875 22.6719 33.6875 20.9219V4.13281C33.6875 2.38281 32.2656 0.960938 30.5156 0.960938ZM30.5156 2.875C30.7891 2.875 31.0078 2.92969 31.2266 3.09375L17.6094 11.3516C17.1172 11.625 16.5703 11.625 16.0781 11.3516L2.46094 3.09375C2.67969 2.98438 2.89844 2.875 3.17188 2.875H30.5156ZM30.5156 22.125H3.17188C2.51562 22.125 1.91406 21.5781 1.91406 20.8672V5.00781L15.0391 12.9922C15.5859 13.3203 16.1875 13.4844 16.7891 13.4844C17.3906 13.4844 17.9922 13.3203 18.5391 12.9922L31.6641 5.00781V20.8672C31.7734 21.5781 31.1719 22.125 30.5156 22.125Z"
            ></path></svg>
        </div><div>
          <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">Email Kami</h5><p class="text-base text-body-color dark:text-dark-6">info@jakarta-design.com</p><p
            class="mt-1 text-base text-body-color dark:text-dark-6"
          >
            contact@jakarta-design.com
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
